<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<h2>Stupid Coaching</h2>

<%= @question %>
<p> -You</p>

<%= @answer %>
<p>-Coach</p>

<%= link_to "Ask your question", "/ask" %>
